<ng-template #divLoading>
  <mat-spinner></mat-spinner>

  <mat-grid-list cols="1">
    <mat-grid-tile> </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="champ; else divLoading" class="grid p-2 m-3">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title> {{ champ.name }}</mat-card-title>
      <mat-card-subtitle> {{ champ.role }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="champ | champImage" mat-card-image />
  </mat-card>
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle> {{ champ.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ champ.region }}</mat-list-item>
      </mat-list>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of champ.abilities">
          {{ name }}
        </mat-chip>
      </mat-chip-listbox>
      <button mat-button (click)="goList()">Regresar</button>
    </mat-card-content>
  </mat-card>
</div>
